@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Treat

<h1>Edit Treat Info Below</h1>
@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <li>Name: @Html.EditorFor(model => model.TreatName, new {placeholder = @Html.DisplayFor(model => model.TreatName)})</li>
  
  <input type="submit" value="Edit" class="btn btn-lg btn-info" style="margin-top: 4%;, margin-bottom: 3%;"/>
}

<p class="enlarge">@Html.ActionLink("Back to Treats", "Index")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>