@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Flavor

<h1>Add Treat to: @Html.DisplayFor(model => model.FlavorName)</h1>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  <h3>@Html.Label("Select Treat") @Html.DropDownList("TreatId")</h3>

  <input type="submit" value="Add" class="btn btn-lg btn-info" style="margin-top: 4%;"/>
}

<p class="enlarge">@Html.ActionLink("Edit Flavor", "Edit")</p>